{% extends "base.html" %}

{% block content %}
  <a href="/twitter?author=FinancialNews">Twitter</a>
  <body>   
    <div>
        <h5>Input Your Sentence</h5>
        <input type='text' id='sentence' style="width: 80%; height: 0%"/>
        <input type='button' value='Search' onclick='redirectPage()' />
    </div>
  </body>

  <script>
  let redirectPage = () => {
      let v1 = document.getElementById('sentence');
      const url = "/?sentence=" + v1.value
      window.location.href = url;
  }
  </script>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <!--th>Time</th-->
        <th>Sentence</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Netural</th>
      </tr>
    </thead>
    <tbody>
      {% for user in data %}
        <tr>
          <!--td>{{ user[3]['created_at'] }}</td-->
          <td>{{ user[3]['text'] }}</td>
          <td>{{ "{:.2%}".format(user[0]['score']) }}</td>
          <td>{{ "{:.2%}".format(user[1]['score']) }}</td>
          <td>{{ "{:.2%}".format(user[2]['score']) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}
