{% extends "base.html" %}

{% block content %}
  <h3>{{ title }}</h3>
  <h5>Author ID: {{ author }}</h5>
  <form class="d-flex ms-auto float-right">
    <input class="form-control me-2" type="text" placeholder="Twitter Author ID" aria-label="Search" id="author">
    <button class="btn btn-outline-success" type="button" onclick="redirectPage()">Search</button>
  </form>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Sentence</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Netural</th>
      </tr>
    </thead>
    <tbody>
      {% for user in data %}
        <tr>
          <td>{{ user[3]['text'] }}</td>
          <td>{{ "{:.2%}".format(user[0]['score']) }}</td>
          <td>{{ "{:.2%}".format(user[1]['score']) }}</td>
          <td>{{ "{:.2%}".format(user[2]['score']) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}
